/* Colors  
#3498db (blue)
#FF4E15 (orange-red)
#ffffff (white)
#000000 (black)
#A6A8AB (grey)
#C6C8CC (light grey)
*/

html{
  box-sizing: border-box;
  color:#ffffff;
  background-color: #000000;
}
*,
*:before,
*:after{
  box-sizing: inherit;
}
/** { border: 1px solid red; }*/
/* ---------------Utility Styles----------------- */

.gradient{
  background-image: linear-gradient(#000000,#242424);
}

.container{
  width:80vw;
  margin: auto;
  max-width:900px;
  color:#ffffff;
  border-bottom: 1px solid #FF4E15;
  padding-bottom: 1em;
}

.img-right{
  float:right;
  padding:5px;
  border:1px solid #A6A8AB;
  margin: 10px 0 10px 20px;
}

.img-left{
  float:left;
  padding:5px;
  border:1px solid #A6A8AB;
  margin: 10px 20px 10px 0;
}

.img-center{
  display:block;
  padding:5px;
  border:1px solid #A6A8AB;
  margin: 20px auto;
}

.text-white{
  color: #ffffff;
}

.text-blue{
  color: #3498db;
}

.text-orange{
  color: #FF4E15;
}

.text-gray{
  color: #A6A8AB;
}

/* ---------------Responsive Images----------------- */
img{
  max-width:100%;
  height:auto;
}

/* ---------------Global Styles----------------- */
body{
  font-family: 'Orbitron', sans-serif;
  margin: 0;
}

h3{
  padding: 0;
  font-size:1.5rem;
  font-weight:bold;
  color: #3498db;
}

header.primary{
  text-align: center;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

header.primary h1{
  font-size: .15rem;
  color: #000000;
  margin: 0;
}

header.primary nav{
  width:80vw;
  margin: auto;
  max-width:900px;
  padding-top: 225px;
  border-bottom: 3px double #FF4E15;
  padding-bottom: 0;
}

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  padding-top: 30px;
}

header.primary nav ul li{
  list-style-type:none;
  font-size:1.4rem;
  font-weight:bold;
  text-transform: uppercase;
}

header.primary nav ul li a:link, 
header.primary nav ul li a:visited{
  color: #C6C8CC;
  text-decoration:none;
  transition:.5s;
}

header.primary nav ul li a:hover, 
header.primary nav ul li a:active{
  color: #FF4E15;
  transition:.5s;
}

#questions{
  width:80vw;
  max-width:900px;
  border-bottom:1px solid #FF4E15;
}

#questions ul li{
  list-style-type:none;
  text-decoration:none;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 0 0 10px 0;
}

#questions ul li a:link, 
#questions ul li a:visited{
  color: #FFFFFF;
  text-decoration:none;
  transition:.5s;
}

#questions ul li a:hover, 
#questions ul li a:active{
  color: #FF4E15;
  text-decoration: none;
  transition:.5s;
}

#answers{
  width:80vw;
  max-width:900px;
  border-bottom:1px solid #FF4E15;
}

#answers dt{
  font-size: 1.3rem;
  color: #3498db;
}

#answers a{
  font-style: italic;
  margin-left: 10px;
  text-decoration:none;
}

#answers a:link,
#answers a:visited{
  color: #FF4E15;
  text-decoration:none;
}

#answers a:hover,
#answers a:active{
  color: #3498db;
  transition:.5s;
}

table{
  width:100%;
  border:1px solid #A6A8AB;
  border-collapse:collapse;
  font-size: .8em;
  background-color: #525354;
}

table caption{
  color: #1587D4;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight:bold;
  font-size:1.5rem;
  text-align: left;
}

table tr:nth-child(even){
  background: rgba(57,58,59,.9)
}

table tr:hover{
  background: rgba(0,0,0,.6)
}

table th{
  background-color:#454647;
  color:#ffffff;
  width:20%;
  padding:10px;
}

table td{
  border:1px solid #A6A8AB;
  padding:5px;
}

#colophon h6{
  width: 80vw;
  margin: auto;
  max-width: 900px;
  color: #FF4E15;
  font-size:.9rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1.7em;
}

#colophon h6 a:link, 
#colophon h6 a:visited{
  color: #FF4E15;
  text-decoration:none;
  transition:.5s;
}

#colophon h6 a:hover, 
#colophon h6 a:active{
  color: #3498db;
  transition:.5s;
}
